
<ng-container *ngIf="playlist && currentItem">
  <div class="container">
<div class="py-5 player-wrapper">
  <!-- <div class="col-8">  -->
    <vg-player>
      <video #media [vgMedia]="media" [src]="currentItem.videoUrl" id="singleVideo" preload="auto" autoplay controls>
      </video>
    </vg-player>
  <!-- </div> -->
  
  <!-- <div class="col-4"> -->
    <ul>
      <li class="playlist-item" *ngFor="let item of playlist let $index = index"
        (click)="onClickPlaylistItem(item, $index)" [class.selected]="item === currentItem">
        {{ item.name }}
      </li>
    </ul>
  <!-- </div> -->

    
</div>
  </div>
</ng-container>
